.fondoItem{
    background-color: #ff111328 ;
    height: 130px;
    border-radius: 20px;
    color: white;
}
.sexo{
    font-size: 40px;
}
.estiloNumero{
    font-size: 32px;
    font-weight: 800;
    margin-top: -30px;
}
.cm {
    font-size: 16px;
    font-weight: 400;
}
.form-range{
    padding: 0px 20px;

}

input[type=range]::-webkit-slider-thumb{
    background: rgb(216, 15, 15);
}

.sumaResta {
    cursor: pointer;
    background-color: #f5525528;
    padding: 7px;
    border-radius: 15px;
    margin-left: 3px;
}
.sexoDesactivo{
    background-color: #69373828 ;
    
}