<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <h2 class="titulo">RESULTADO</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="fondoItem">
                    <div class="contenedor">
                        <p class="resultado">{{resultado}}</p>
                        <p class="estiloNumero">{{imc}}</p>
                        <p class="interpretacion">{{interpretacion}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button routerLink="/" class="btn btn-primary btn-lg btn-color">RECALCULAR</button>
            </div>

        </div>
    </div>
</div>