/* You can add global styles to this file, and also import other style files */
body{
    background-color: #030613;
}
.titulo{
    font-family: 'Anton', sans-serif;
    color: white;
    text-align: center;
    margin-top: 25px;
}
.row{
    margin-top: 20px;
}
.btn-color{
    background-color: rgb(104, 12, 12);
    border-color: red;
    border-radius: 25px;
    width: 100%;
}
.btn-color:hover{
    background-color: rgb(104, 12, 12);
    border-color: red;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}